* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi";
  src: url(fonts/Satoshi-Regular.otf) format(opentype);
}
@font-face {
  font-family: "Clash-Display-Regular";
  src: url(fonts/ClashDisplayRegular.otf) format(opentype);
}
@font-face {
  font-family: "Clash-Display-Medium";
  src: url(fonts/ClashDisplayMedium.otf) format(opentype);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Satoshi";
  font-size: 16px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.nav {
  margin-top: 20px;
}
.nav-container {
  width: 1386px;
  margin: 0 auto;
}
.nav-top-wrapper {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-top-wrapper .right-wrapper .rigth-wrapper-btn-user {
  margin-left: 16px;
}
.nav-bottom-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-bottom-wrapper .nav-list {
  display: flex;
  justify-content: center;
}
.nav-bottom-wrapper .nav-list-item {
  margin-right: 44px;
  color: #726e8d;
}
.nav-bottom-wrapper .nav-list-item:last-child {
  margin-right: 0;
}

.hero {
  margin: 60px 0;
}
.hero .hero-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero .hero-wrapper .content-wrapper {
  background-color: #2a254b;
  padding: 60px 98px 60px 60px;
}
.hero .hero-wrapper .content-wrapper .hero-text {
  font-family: "Clash-Display-Regular";
  font-size: 32px;
  line-height: 140%;
  color: #fff;
  width: 513px;
  margin-bottom: 41px;
}
.hero .hero-wrapper .content-wrapper .hero-btn {
  color: #fff;
  background-color: rgba(249, 249, 249, 0.15);
  padding: 16px 32px;
  margin-bottom: 212px;
}
.hero .hero-wrapper .content-wrapper .hero-content {
  width: 602px;
  font-family: "Satoshi";
  line-height: 150%;
  color: #fff;
}

.features-section {
  margin-top: 60px;
  margin-bottom: 86px;
}
.features-section .features-header {
  font-family: "Clash-Display-Regular";
  font-size: 24px;
  color: #2a254b;
  margin-bottom: 51px;
  text-align: center;
}
.features-section .features-list {
  color: #2a254b;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.features-section .features-list-item {
  width: 270px;
  padding-top: 40px;
}
.features-section .features-list-item-header {
  font-family: "Clash-Display-regular";
  font-size: 20px;
  margin-bottom: 8px;
}
.features-section .features-list-item-text {
  font-family: "Satoshi";
  font-size: 16px;
}
.features-section .features-list-item:nth-child(1) {
  background-image: url(img/features-section/features-delivery-icon.svg);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
.features-section .features-list-item:nth-child(2) {
  background-image: url(img/features-section/features-checkmark-icon.svg);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
.features-section .features-list-item:nth-child(3) {
  background-image: url(img/features-section/features-payment-icon.svg);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
.features-section .features-list-item:nth-child(4) {
  background-image: url(img/features-section/features-sprout-icon.svg);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.new-ceramics-section {
  margin-top: 80px;
  margin-bottom: 56px;
  color: #2a254b;
}
.new-ceramics-section-header {
  font-family: "Clash-Display-Regular";
  font-size: 32px;
  margin-bottom: 33px;
}
.new-ceramics-section-products {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}
.new-ceramics-section-products .new-ceramics-products-item .new-ceramics-product-img {
  margin-bottom: 24px;
}
.new-ceramics-section-products .new-ceramics-products-item .new-ceramics-product-name {
  font-family: "Clash-Display-Regular";
  font-size: 20px;
  margin-bottom: 8px;
}
.new-ceramics-section-products .new-ceramics-products-item .new-ceramics-product-price {
  font-size: 18px;
}
.new-ceramics-section .new-ceramics-btn {
  font-size: 16px;
  padding: 16px 32px;
  background-color: #f9f9f9;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.popular-products {
  margin-top: 64px;
  margin-bottom: 48px;
  color: #2a254b;
}
.popular-products-header {
  font-family: "Clash-Display-regular";
  font-size: 32px;
  margin-bottom: 25px;
}
.popular-products-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 42px;
}
.popular-products-list-item-img {
  margin-bottom: 24px;
}
.popular-products-list-item-name {
  font-family: "Clash-Display-Regular";
  font-size: 20px;
  margin-bottom: 8px;
}
.popular-products-list-item-price {
  font-size: 18px;
}
.popular-products-btn {
  font-size: 16px;
  padding: 16px 32px;
  background-color: #f9f9f9;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.join-club {
  background-color: #f9f9f9;
  padding: 52px 0 65px;
}
.join-club-wrapper {
  background-color: #fff;
  padding: 68px 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.join-club-header {
  font-family: "Clash-Display-Regular";
  font-size: 36px;
  color: #2a254b;
  margin-bottom: 16px;
}
.join-club-text {
  font-family: "Satoshi";
  font-size: 16px;
  line-height: 150%;
  width: 470px;
  margin-bottom: 72px;
}
.join-club .form {
  display: flex;
}
.join-club .form .join-input {
  border: none;
  background-color: #f9f9f9;
  width: 354px;
  height: 56px;
  padding-left: 32px;
}
.join-club .form .join-input:focus-visible {
  outline: none;
}
.join-club .form .sign-up {
  background-color: #2a254b;
  color: #fff;
  padding: 16px 32px;
}

.about-section {
  background-image: url(img/about-section/about-main.jpg);
  background-repeat: no-repeat;
  background-position: right;
}
.about-section-wrapper {
  padding: 72px 0 54px;
  width: 536px;
}
.about-section-header {
  font-family: "Clash-Display-Regular";
  font-size: 24px;
  line-height: 140%;
  color: #2a254b;
  margin-bottom: 25px;
}
.about-section-text {
  color: #505977;
  margin-bottom: 196px;
}
.about-section-btn {
  padding: 16px 32px;
  color: #2a254b;
  background-color: #f9f9f9;
  width: 150px;
}

.footer {
  color: #fff;
  background-color: #2a254b;
  padding-top: 58px;
  padding-bottom: 25px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.footer-list-header {
  font-family: "Clash-Display-Regular";
  font-size: 16px;
  margin-bottom: 12px;
}
.footer-list-list-item {
  font-size: 14px;
  margin-bottom: 12px;
}
.footer-list-list-item:last-child {
  margin-bottom: 0;
}
.footer-form-header {
  font-family: "Clash-Display-Regular";
  font-size: 16px;
  margin-bottom: 16px;
}
.footer-form .footer-input {
  border: none;
  width: 509px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.15);
  padding-left: 32px;
}
.footer-form .footer-input::-moz-placeholder {
  color: #fff;
}
.footer-form .footer-input::placeholder {
  color: #fff;
}
.footer-form .footer-input:focus-visible {
  outline: none;
}
.footer-form-btn {
  color: #2a254b;
  background-color: #fff;
  padding: 16px 32px;
  height: 54px;
}
.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #4e4d93;
  padding-top: 24px;
}
.footer-bottom-wrapper .social-media-list {
  display: flex;
}
.footer-bottom-wrapper .social-media-list-item {
  margin-right: 26px;
}
.footer-bottom-wrapper .social-media-list-item:last-child {
  margin-right: 0;
}/*# sourceMappingURL=index.css.map */